<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>SteamRate</title>
    <link href="{{ url_for('static', filename='documents.css') }}" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>

<body>
    
<section>
        
<h2>SteamRate API dokumentation v1</h2>
    
    <p>make GET requests to:</p>

    <pre> /search/api</pre>
        
<h2> hehe</h2>
        
<p>Cu quo alii oportere, at unum tota conceptam eum, id augue oratio qui. At melius mnesarchum sea, iusto convenire signiferumque ex ius. Ei sea iudico referrentur signiferumque, ad mel diam dicit ullamcorper. Nam possit graeco atomorum ad.

Sale quando adipiscing cu pro, ad tale mentitum cum. Quo modus invenire intellegam cu, ei quem possit splendide mei. Modo petentium eos ut, no eripuit mnesarchum persequeris his. Cum at discere insolens adolescens. Sea an ipsum viderer, nisl sumo suas cum no, brute omittam vulputate mei te.</p>
        
<h2>Example</h2>
        
<pre> {
    "result": [
        {
            "name": "Counter-Strike", 
            "url": "http://www.metacritic.com/game/pc/counter-strike", 
            "userscore": 9.3, 
            "score": "88", 
            "rlsdate": "2000-11-08", 
            "genre": "Modern", 
            "thumbnail": "http://static.metacritic.com/images/products/games/6/531ec4e073f01d64f1f3754e767d8963-98.jpg", 
            "developer": "The Counter-Strike Team"
        }, 
        {
            "name": "Counter-Strike: Condition Zero", 
            "url": "http://www.metacritic.com/game/pc/counter-strike-condition-zero", 
            "userscore": 8.8, 
            "score": "65", 
            "rlsdate": "2004-03-23", 
            "genre": "Modern", 
            "thumbnail": "http://static.metacritic.com/images/products/games/0/b9c72f04c48b4d4681850bcff1b0583f-98.jpg", 
            "developer": "Turtle Rock Studios"
        }, 
        {
            "name": "Garry's Mod", 
            "url": "http://www.metacritic.com/game/pc/garrys-mod", 
            "userscore": 9.3, 
            "score": "", 
            "rlsdate": "2006-11-29", 
            "genre": "General", 
            "thumbnail": "http://static.metacritic.com/images/products/games/8/ed6af614ffa08d3169576cc1f23ebb1b-98.jpg", 
            "developer": "Facepunch Studios"
        }, 
        {
            "name": "Torchlight", 
            "url": "http://www.metacritic.com/game/pc/torchlight", 
            "userscore": 8.1, 
            "score": "83", 
            "rlsdate": "2010-01-05", 
            "genre": "Action RPG", 
            "thumbnail": "http://static.metacritic.com/images/products/games/8/f4c976dc65d3d3c3313f6705f0c03676-98.jpg", 
            "developer": "Runic Games"
        }, 
        {
            "name": "Counter-Strike: Global Offensive", 
            "url": "http://www.metacritic.com/game/pc/counter-strike-global-offensive", 
            "userscore": 7.9, 
            "score": "83", 
            "rlsdate": "2012-08-21", 
            "genre": "Modern", 
            "thumbnail": "http://static.metacritic.com/images/products/games/6/078f51f6b6b7acbe303dbfc50a3b2e75-98.jpg", 
            "developer": "Valve Software"
        }, 
        {
            "name": "Team Fortress 2", 
            "url": "http://www.metacritic.com/game/pc/team-fortress-2", 
            "userscore": 9.2, 
            "score": "92", 
            "rlsdate": "2008-04-08", 
            "genre": "Modern", 
            "thumbnail": "http://static.metacritic.com/images/products/games/6/43275793dfcefd238b98ee2d88939192-98.jpg", 
            "developer": "Valve Software"
        }
    ]
}
</pre>
    </section>

<div id="powered">
<a href="http://steampowered.com" target="_blank">Powered by Steam</a>   
</div>
    
</body>
</html>

