<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SteamRate</title>
    <link href="{{ url_for('static', filename='documents.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    
<section>

    <h2>SteamRate API dokumentation v1</h2>
    
    <h3>Endpoint</h3>
    
    <p>make GET requests to:</p>
    <pre>api/search?q=[steamid]</pre>
        
</br>
        
<h3>Request parameters:</h3>
    <p><code>q: </code>search with your steamid</p>
    <p></p>
</br>
<h3>Response</h3>
<pre>{
    "average": 
    "result":  
}
        </pre>
    
<h3>Hitta ditt Steamid</h3> 
    
<p>Steamid hittar du på<a href="http://store.steampowered.com/" target="_blank"> steam</a> där du loggar in och sen klickar på "visa profil"</p>
        
<img src="{{ url_for('static',filename='profil.jpg') }}">

<p>Sen kan du se ditt steamid i URL</p>
<img src="{{ url_for('static',filename='steamid.jpg') }}">

<h2>Example request</h2>

<p>GET api/search?q=76561198066652701
</p>

<pre>
{
    "average": 8.7,
    "result": [
        {
            "playtime_forever": 136,
            "rating": "M",
            "userscore": 9.3,
            "thumbnail": "http://static.metacritic.com/images/products/games/6/531ec4e073f01d64f1f3754e767d8963-98.jpg",
            "genre": "Modern",
            "developer": "The Counter-Strike Team",
            "name": "Counter-Strike",
            "url": "http://www.metacritic.com/game/pc/counter-strike",
            "has_community_visible_stats": true,
            "score": "88",
            "rlsdate": "2000-11-08"
        },
        {
            "playtime_forever": 0,
            "rating": "M",
            "userscore": 8.8,
            "thumbnail": "http://static.metacritic.com/images/products/games/0/b9c72f04c48b4d4681850bcff1b0583f-98.jpg",
            "genre": "Modern",
            "developer": "Turtle Rock Studios",
            "name": "Counter-Strike: Condition Zero",
            "url": "http://www.metacritic.com/game/pc/counter-strike-condition-zero",
            "score": "65",
            "rlsdate": "2004-03-23"
        },
        {
            "playtime_forever": 13,
            "rating": "",
            "userscore": 8.4,
            "thumbnail": "http://static.metacritic.com/images/products/games/7/55cefd3ed930b462c989354da38e074c-98.jpg",
            "genre": "General",
            "developer": "Valve Software",
            "name": "Deathmatch Classic",
            "url": "http://www.metacritic.com/game/pc/deathmatch-classic",
            "score": "",
            "rlsdate": "2001-06-01"
        },
        {
            "playtime_forever": 954,
            "rating": "",
            "userscore": 9.2,
            "thumbnail": "http://static.metacritic.com/images/products/games/8/ed6af614ffa08d3169576cc1f23ebb1b-98.jpg",
            "genre": "General",
            "developer": "Facepunch Studios",
            "name": "Garry's Mod",
            "url": "http://www.metacritic.com/game/pc/garrys-mod",
            "has_community_visible_stats": true,
            "score": "",
            "rlsdate": "2006-11-29"
        },
        {
            "playtime_forever": 186,
            "rating": "T",
            "userscore": null,
            "thumbnail": "http://static.metacritic.com/images/products/games/6/9c3da77d82a38570dc82391ca26e038c-98.jpg",
            "genre": "Historic",
            "developer": "Outerlight",
            "name": "The Ship",
            "url": "http://www.metacritic.com/game/pc/the-ship",
            "has_community_visible_stats": true,
            "score": "76",
            "rlsdate": "1970-01-01"
        },
        {
            "playtime_forever": 870,
            "rating": "M",
            "userscore": 8,
            "thumbnail": "http://static.metacritic.com/images/products/games/9/eff7141d6f5211ebdc3872217388fc55-98.jpg",
            "genre": "Role-Playing",
            "developer": "Bethesda Softworks",
            "name": "The Elder Scrolls IV: Oblivion",
            "url": "http://www.metacritic.com/game/pc/the-elder-scrolls-iv-oblivion",
            "score": "94",
            "rlsdate": "2006-03-20"
        },
        {
            "playtime_forever": 2999,
            "rating": "M",
            "userscore": 8.3,
            "thumbnail": "http://static.metacritic.com/images/products/games/6/57ad2c928a527dc6f54617e7b2f72be1-98.jpg",
            "genre": "Modern",
            "developer": "EA DICE",
            "name": "Battlefield: Bad Company 2",
            "url": "http://www.metacritic.com/game/pc/battlefield-bad-company-2",
            "score": "87",
            "rlsdate": "2010-03-02"
        }
    ]
}
</pre>
    
</br>


<div id="python">
<h2>Python code example:</h2>
    
<pre># These code snippets use an open-source library. http://unirest.io/python

response = unirest.get("http://currenturl/api/search?q=STEAMID"
                           headers={ "Accept": "application/json" })

respone.body # to extract the json data response
</pre>
</div>

</br>
<div id="java">
<h2>Javascript code example:</h2>
<pre>
# These code snippets use jquery library. http://api.jquery.com/

var ENDPOINT = "http://currenturl/api/search";
var q = $("input[name=q]").val();

$.ajax({
		url: ENDPOINT,
		data: {q: q},
		success: showResult,
		dataType: "json"
	});

function showResult(response){
		console.log(response);
}</pre>
</div>

    </section>

    
</body>
</html>

