<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>SteamRate</title>
    <link href="steamrate.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <ul>
            <li>
                <a href="index.html">STEAMRATE</a>  
            </li>

            <li>
                <a href="index.html">DOKUMENTATION</a> 
            </li>
        </ul>
    </header>
    <hr>
<img src="Minimalist_Steam_Icon_by_un10ck.png">
    
    <section>
        
<h2>SteamRate API dokumentation</h2>
<p>Lorem ipsum dolor sit amet, percipit probatus pri in, ad qui partiendo liberavisse concludaturque. Civibus invenire conclusionemque te sed. Mea ipsum dicta vivendo te, nibh liber ad ius, quod meliore vis cu. Invidunt salutatus disputando ad quo, nominavi intellegebat eam ei. In tale audire nam.</p>
        
<h2> hehe</h2>
        
<p>Cu quo alii oportere, at unum tota conceptam eum, id augue oratio qui. At melius mnesarchum sea, iusto convenire signiferumque ex ius. Ei sea iudico referrentur signiferumque, ad mel diam dicit ullamcorper. Nam possit graeco atomorum ad.

Sale quando adipiscing cu pro, ad tale mentitum cum. Quo modus invenire intellegam cu, ei quem possit splendide mei. Modo petentium eos ut, no eripuit mnesarchum persequeris his. Cum at discere insolens adolescens. Sea an ipsum viderer, nisl sumo suas cum no, brute omittam vulputate mei te.</p>
        
<h2>Example</h2>
        
<pre>{
	"response": {
		"game_count": 6,
		"games": [
			{
				"appid": 10,
				"name": "Counter-Strike",
				"playtime_forever": 183,
				"img_icon_url": "6b0312cda02f5f777efa2f3318c307ff9acafbb5",
				"img_logo_url": "af890f848dd606ac2fd4415de3c3f5e7a66fcb9f",
				"has_community_visible_stats": true
			},
			{
				"appid": 80,
				"name": "Counter-Strike: Condition Zero",
				"playtime_forever": 0,
				"img_icon_url": "077b050ef3e89cd84e2c5a575d78d53b54058236",
				"img_logo_url": "acdb28ba1b4c2fcc526332c1b63fc0f7533f087f"
			},
			{
				"appid": 100,
				"name": "Counter-Strike: Condition Zero Deleted Scenes",
				"playtime_forever": 0,
				"img_icon_url": "077b050ef3e89cd84e2c5a575d78d53b54058236",
				"img_logo_url": "acdb28ba1b4c2fcc526332c1b63fc0f7533f087f"
			},
			{
				"appid": 4000,
				"name": "Garry's Mod",
				"playtime_forever": 195,
				"img_icon_url": "d9101cbeddcc4ff06c7fa1936c3f381b0bbf2e92",
				"img_logo_url": "dca12980667e32ab072d79f5dbe91884056a03a2",
				"has_community_visible_stats": true
			},
			{
				"appid": 41500,
				"name": "Torchlight",
				"playtime_forever": 328,
				"img_icon_url": "b2a2a43e401dce3c69898b67b1b8af4481d96b08",
				"img_logo_url": "e36226c6a0575e6e1838e1f915e91f8b31ab3008",
				"has_community_visible_stats": true
			},
			{
				"appid": 730,
				"name": "Counter-Strike: Global Offensive",
				"playtime_forever": 52,
				"img_icon_url": "69f7ebe2735c366c65c0b33dae00e12dc40edbe4",
				"img_logo_url": "d0595ff02f5c79fd19b06f4d6165c3fda2372820",
				"has_community_visible_stats": true
			}
		]
		
	}
}</pre>
    </section>

<div id="powered">
<a href="http://steampowered.com" target="_blank">Powered by Steam</a>   
</div>
    
</body>
</html>

