<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Movie Groove</title>
        {# Creates a valid URL for our stylesheet #}
		<link rel="stylesheet" href="{{ url_for('static', filename='documents.css') }}">
    </head>
    <body>
        <div class="wrapper index">
			<h1>SteamRate</h1>
			<h2>This is not the page you're looking for</h2>
			<p><em>Error {{ code }}</em></p>
			{% if description %}
			<p>{{ description }}</p>
			{% endif %}
        </div>
    </body>
</html>
