<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>SteamRate</title>
    <link href="steamrate.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <ul>
            <li>
                <a href="index.html">STEAMRATE</a>  
            </li>

            <li>
                <a href="index.html">DOKUMENTATION</a> 
            </li>
        </ul>
    </header>
    <hr>
<img src="Minimalist_Steam_Icon_by_un10ck.png">
    
    <section>
        <form action="/search" class="searchform" method="GET">
            <input placeholder="Steam ID" type="text" name="q"> <button type=
            "submit">Search</button>
        </form>
    </section>

<div id="powered">
<a href="http://steampowered.com" target="_blank">Powered by Steam</a>   
</div>
    
</body>
</html>

