<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SteamRate</title>
    <link href="{{ url_for('static', filename='steamrate.css') }}" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>

<body>
   <header>
        <ul>
            <li>
                <a href="/">STEAMRATE</a>
            </li>
            <li>
                <a href="/docs" target="_blank">DOKUMENTATION</a>
            </li>
        </ul>
   </header>
   <div id="background"></div>
   <div id="searchfield">
        <div id="logo">
            <img id="steamlogo" src="{{ url_for('static', filename = 'testlogo.png') }}">
        </div>
        <section>
            <form action="/search" class="searchform" method="get">
                <input name="q" placeholder="Steam ID" type="text" value="">
                <button type="submit">Search</button>
            </form>
        </section>
   </div>

  <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
  </div>

   <div class="steamid">
        <ul>
            <li>
                <h2>Your average score:</h2>
            </li>
            <li id="average"></li>
        </ul>
   </div>
    
   <h1>Games</h1>
    
   <div id="result">
        <ul class="games">
            <li class="headline"></li>
            <li class="headline">Name</li>
            <li class="headline">Time Played</li>
            <li class="headline">Score</li>
        </ul>
   </div>

   <div id="powered">
        <a href="http://steampowered.com" target="_blank">[ Powered by Steam ]</a>
   </div>


   <script type="text/javascript">
		var ENDPOINT = "http://127.0.0.1:5000/api/search"; //URL to SteamRate API, bad hardcode
		
		function SteamSearch(){
            //function call to the SteamRate API on form submit
            $(".spinner").show();
			var q = $("input[name=q]").val();
			$.ajax({
				url: ENDPOINT,
				data: {q: q},
				success: showResult,
				dataType: "json"
			});
			return false;
		}
		
		function showResult(response){
            //Function to present the SteamRate API response dynamicly on this HTML page
            //TO DO: Present total owned games
            var $ul = $(".games");
            var $average = $("#average");

            $average.append('<h2 class="pulse">' + response.average + '</h2>');

            for (var i = 0; i < response.result.length; ++i) {
                var playtime = (response.result[i].playtime_forever/60>>0); //computes play time minutes to hours

                $ul.append('<li class=game><img class="thumbnail" src="' + response.result[i].thumbnail + '">' + '</li>');
                $ul.append('<li class="game">' + response.result[i].name + '</li>');
                $ul.append('<li class="game">' + playtime + 'h' + '</li>');
                $ul.append('<li class="game">' + response.result[i].userscore + '</li>');
                }

            //Animations for presenting search result
            $(".spinner").hide();
            $('html, body').animate({ scrollTop: 900 }, 1000);
            $("#games").fadeIn(1100);
            }

		// Setup initial state
		$(function(){
			$("form").submit(SteamSearch);
            $(".spinner").hide();
		});
   </script>
</body>
</html>